html,body,.body{ height: 100%; width: 100%; overflow: hidden;}
body{font:16px "microsoft yahei",Arial,Verdana,Tahoma,"ו";}

br{ 
display:inline; line-height:11px; 
}

a{text-decoration:none;}
a:hover{text-decoration:none;}

.dropdown-menu label{ padding: 0 10px; display: block;}
.dropdown-menu label:hover{ background: #EEE;}
.dropdown-menu input[type="checkbox"]{vertical-align: text-top;}
.input-group input.form-control{width: 100%;}
.input-group,.btn-group{float: left; margin-left: 10px;}
.input-group{ width: 160px;}
.input-group-max{ width: 260px;}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
.input-group-mt2{ margin-top: -8px;}
.input-group-mt3{ margin-top: -16px;}
.input-group-select{ width: 504px;}
.input-group.input-group-select select{ width: 33%;}
.input-group.input-group-select select.form-control:not(:first-child):not(:last-child){border-radius: 0px; border-right: none;}
.clearfix{ padding-bottom: 5px;}

.hlist.bodyer{ position: relative;}
.bodyer .header{ position: absolute; top: 0; left: 0; right: 0; z-index: 9; padding: 10px 0 0 0;}
.bodyer .mainer{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;z-index: 1; overflow: hidden;overflow-y: auto;}
.bodyer .footer{ position: absolute; left: 0; right: 0; bottom: 0; z-index: 8; height:44px; }
.bodyer .footer .btn-group{ padding-top: 5px;}

.hmain .sider{ float: left; width: 120px; border-right: 1px solid #EEE;height: 100%;background-color: #ececec; overflow-y: auto;}
.hmain .sidedl{ text-align: center; color: #555; margin: 0;}
.hmain .sidedl dt{background: #4d7fb8;color: #203f61;text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2); padding: 8px 0;}
.hmain .sidedl dd{background-color: #ececec;border-bottom: 1px solid #dcdcdc;border-top: 1px solid #fff;color: 727272;text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
.hmain .sidedl dd a{display: block; padding: 12px;}


.hmain .mainer{ margin-left: 120px; height: 100%; overflow: hidden;}


